<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>chrisrhoden lives on the internet</title>
	<link rel='stylesheet' type='text/css' href='style.css' />
</head>
<body>
  <p>chrisrhoden is a <a href='http://chrisrhoden.github.com'>computer programmer</a> who likes
    <a href='http://nvr.frgt.me'>writing</a>, <a href='http://last.fm/user/lithite'>music</a>,
    <a href='http://twitter.com/chrisrhoden'>the internet</a>, and <a href='http://ruby-lang.org/'>lists</a>.
  </p>
</body>
</html>