body, html {
    background-color: rgb(130,0,0);
    color: #FFF;
}
p {
    font: 70px Helvetica, Arial, sans-serif;
    letter-spacing:-.08em;
    font-weight: 700;
}

a {
    color: rgb(255, 100, 100);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}